<section class="hero" id="hero">
  <div class="containers">
    <h2 class="sub-heading mt-5">
      <%= image_tag "Logo.png", class: "logo" %>
    </h2>
    <h2 class="sub-heading mt-5">
      Demokratija<span class="first-letter">-</span>Komerc
    </h2>
    <h1 class="headline mt-5">Industria e Mishit - Saraj</h1>
    <h2 class="sub-heading mt-5">
      Демократија<span class="first-letter">-</span>Комерц
    </h2>
    <h1 class="headline mt-5">Месна Индустрија - Сарај</h1>
    <div class=" headline-description">
      <div class="single-animation mt-5">
        <%= link_to  "Rreth Nesh | За Нас | About Us", about_path, class:"btn text-white" %>
      </div>
    </div>
  </div>
</section>
<!-- Hero ends-->

<section class="discovery-our-story">
  <div class="container">
    <div class="restaurant-info row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 restaurant-description padding-right animatable bounceInLeft">
        <div class="global-headline">
          <h2 class="headline headline-dark"> ABOUT US</h2>
        </div>
        <p>
          Ne perpunim | На Преработка
        </p>
        <%= link_to  "Rreth Nesh | За Нас | About Us", about_path, class:"btn" %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 restaurant-info-img animatable bounceInRight">
        <%= image_tag 'Logo.png' %>
      </div>
    </div>
  </div>
</section>
<!-- Discover of our story -->

<div class="container my-5">
  <h2 class="headline headline-dark text-center">Produktet | Производи</h2>
  <div class="">
    <div class="row">
  
    </div>
  </div>
</div>
<!--category end-->

<section class="discover-our-menu">
  <div class="containers">
    <div class="restaurant-info row">
      <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 restaurant-description animate-right">
        <div class="global-headline">
          <h2 class="headline headline-dark">SPECIAL OFFER</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Mollitia quisquam iusto unde incidunt eaque laudantium
          cupiditate minus quibusdam similique fuga totam assumenda,
          ipsam delectus numquam quo aut quasi officiis ex eum?
          Dignissimos atque enim inventore eligendi ratione fugiat
        </p>
        <%= link_to  "Produktet", products_path, class:"btn" %>
      </div>
      <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 image-group padding-right animate-left">
        <%= image_tag "Produktet/Suxhuk1.jpg" %>
        <%= image_tag "Produktet/Suxhuk2.jpg" %>
        <%= image_tag "Produktet/suxhuk-zgare.jpg" %>
        <%= image_tag "Produktet/suxhuk-shtepie.jpg" %>
        <%= image_tag "Produktet/Mish-i-thate.jpg" %>
        <%= image_tag "Produktet/Cajna.jpg" %>
        <%= image_tag "Produktet/Kulen.jpg" %>
        <%= image_tag "Produktet/batak.jpg" %>
        <%= image_tag "Produktet/virshel.jpg" %>
      </div>
    </div>
  </div>
</section>