<section class="hero-about" id="hero">
  <div class="containers">
    <h5 class="sub-heading mt-5" style="font-size: 2rem;">
        Panairet
    </h5>
  </div>
</section>

<p id="notice"><%= notice %></p>

<section class="discover-our-menu">
  <div class="containers">
    <div class="restaurant-info row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 restaurant-description padding-right animatable bounceInLeft">
        <div class="global-headline">
          <h2 class="headline headline-dark">
            Panairet e Demokratia - Komerc
          </h2>
          <%= image_tag "Logo.png" %>
        </div>
      </div>
      <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 image-group padding-right animate-left">
          <%= image_tag 'Panairet/Panairi1.jpg' %>
          <%= image_tag 'Panairet/Panairi2.jpg' %>
          <%= image_tag 'Panairet/Panairi3.jpg' %>
          <%= image_tag 'Panairet/Panairi4.jpg' %>
          <%= image_tag 'Panairet/Panairi5.jpg' %>
          <%= image_tag 'Panairet/Panairi6.jpg' %>
          <%= image_tag 'Panairet/Panairi7.jpg' %>
          <%= image_tag 'Panairet/Panairi8.jpg' %>
          <%= image_tag 'Panairet/Panairi9.jpg' %>
      </div>
    </div>
  </div>
</section>