<section class="hero-about" id="hero">
  <div class="containers">
    <h5 class="sub-heading mt-5" style="font-size: 2rem;">
      Produktet | Производи
    </h5>
  </div>
</section>
<p id="notice"><%= notice %></p>

<section class="discover-our-menu">
  <div class="containers">
    <div class="restaurant-info row">
      <div class="global-headline">
        <%= image_tag "Produktet/Suxhuk1.jpg", class: 'photo' %>
        <br>
        <br>
        <%= image_tag "Produktet/suxhuk-zgare.jpg", class: 'photo' %>
        <br>
        <br>
        <%= image_tag "Produktet/Mish-i-thate.jpg", class: 'photo' %>
        <br>
        <br>
        <%= image_tag "Produktet/Suxhuk2.jpg", class: 'photo' %>
        <br>
        <br>
        <%= image_tag "Produktet/suxhuk-shtepie.jpg", class: 'photo' %>
        <br>
        <br>
        <%= image_tag "Produktet/Cajna.jpg", class: 'photo' %>
        <br>
        <br>
        <%= image_tag "Produktet/Kulen.jpg", class: 'photo' %>
        <br>
        <br>
        <%= image_tag "Produktet/batak.jpg", class: 'photo' %>
        <br>
        <br>
        <%= image_tag "Produktet/virshel.jpg", class: 'photo' %>
      </div>
    </div>
  </div>
</section>